$background: rgb(209, 207, 208);
$colorgray: rgb(110, 102, 99);
$colordarkgray: rgb(58, 56, 59);


@mixin button400 {
  width: 55px;
  height: 40px;
}
@mixin button320 {
  width: 50px;
  height: 40px;
}

body, * {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  // margin-top: 50px;
  max-width: 700px;
}

.calculator {
  padding: 10px;
  max-width: 500px;
  height: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $background;

  .calculator__display {
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    color: $colorgray;
    font-size: 20px;
  }

  .calculator__calculation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .calculator__top {
    background-color: rgb(60, 55, 61);
    padding: 10px;
  }

  .btn--style  {
    width: 70px;
    height: 50px;
    border-radius: 4px;
    border: 2px ridge $colorgray;

    &.btn--gray {
      position: relative;
      background: radial-gradient(7em 3em at top, $colorgray 80%, $colordarkgray 80%);
      z-index: 10;

      &::before {
        content: "";
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $colordarkgray;
        transition-duration: 0.2s;
        z-index: -10;
      }

      &:hover::before {
        opacity: 1;
        transition-duration: 0.2s;
      }
    }

    &.btn--blue {
      width: 70px;
      height: 50px;
      background: rgb(118, 135, 165);
      transition: 0.2s;
      color: #3a383b;
    }
  }
}

.calculator button.res-delete:hover, button#btn-result:hover {
  background: rgb(56, 63, 91);
  transition: 0.2s;
}

.calculator button.res-delete p, button#btn-result .fa-equals {
  color: $colordarkgray;
  transition: 0.2s;
}

.calculator button.res-delete:hover p, button#btn-result:hover .fa-equals {
  color: rgb(184, 174, 164);
  transition: 0.2s;
}

.calculator__calculation {
  height: 60%;

  .calculator__numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
  }
}

.numbers--flex--group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.calculator__calculation {
  .calculator__basic-operation, .calculator__add-operation {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100px;
    flex-wrap: wrap;
  }
}

.calculator h1, i, p {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: sans-serif;
}

.calculator i, p {
  color: rgb(184, 174, 164);
}

.calculator {
  h1 {
    letter-spacing: 10px;
    color: $colorgray;
  }

  .fa-circle {
    font-size: 10px;
  }
}

.calculator__operation {
  width: 20%;
  height: 600px;
  padding: 5px;
  box-sizing: border-box;
  overflow-y: scroll;
  word-wrap: break-word;
  color: $colorgray;
  font-size: 20px;
  background-color: $background;

    &::-webkit-scrollbar {
      background-color: $background;
  }
    &::-webkit-scrollbar-thumb {
      background-color: $colorgray;
    }
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .calculator__operation {
    width: inherit;
    height: 100px;
  }
}

@media only screen and (max-width: 400px) {
  .calculator button {
    @include button400;

    &.btn {
      background: radial-gradient(7em 3em at top, $colorgray 60%, $colordarkgray 60%);
    }

    &.res-delete {
      @include button400;
    }
  }

  button#btn-result {
    @include button400;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    flex-direction: column;
    max-width: 320px;
    margin-top: 0;
  }

  .calculator {
    padding: 5px;
    max-width: 320px;
    height: 480px;

    .result {
      height: 70px;
      padding: 5px;
    }

    .calculator__top {
      padding: 5px;
    }

    button {
      @include button320;

      &.btn {
        background: radial-gradient(7em 3em at top, $colorgray 60%, $colordarkgray 60%);
      }

      &.res-delete {
        @include button320;
      }
    }
  }

  button.btn-result {
    @include button320;
  }

  .calculator h1, i, p {
    font-size: 28px;
  }

  .calculator .btn-button .fa-circle {
    font-size: 8px;
  }

  .calculator__operation {
    width: inherit;
    height: 100px;
  }
}
